<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Concesionario - Raúl Merino</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/estilos.css" th:href="@{/css/estilos.css}"/>
  </head>

  <body>
  
    <div>
      <img src="../../images/logoConcesionario.png" alt="Concesionario Raúl Merino Logo" title="Concesionario Raúl Merino Logo" 
           th:src="@{/images/logoConcesionario.png}" th:alt-title="#{titulo.aplicacion}"/>
    </div>
      <div>
<!--       	<h2 th:text="#{title.list}">WELCOME TO CONCESIONARIO - RAÚL MERINO!</h2> -->
      	<h2>WELCOME TO CONCESIONARIO - RAÚL MERINO!</h2>
      </div>
  
  </body>

</html>